.body{
    display: grid;
    background-color: rgb(241, 239, 239);
    min-height: 100vh;
}

hr{
 width: 700px;
}

.cart-container{
    width: 1000px;
    place-self: center;
    background-color: black;
}

.cart-product{
    width: 100%;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
    margin-bottom: 2px;
}

.product-details p{
  color: rgb(59, 58, 58);
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline;
}

.cart-product-image{
    max-width: 250px;
    padding: 15px;
    background-color: rgb(238, 234, 234);
}

.product-details{
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    gap: 10px;
}

.product-details .title{
    font-size: 20px;
    color: rgb(255, 149, 0);
}

.rate-count{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
}

.product-details .description{
    margin-top: 15px;
    letter-spacing: 1.5px;
    font-size: 13px;
    padding-right: 10px;
}

.product-details h3{
    display: inline-block;
    padding-right: 5px;
}

.cart-title{
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 2px solid rgb(69, 68, 68);
}

.cart-title p{
    padding: 10px 0px 0px 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.product-details .price{
    font-size: 20px;
}

.product-details .price p{
   padding-left: 10px;
   font-size: 15px;
}

.product-details .p-text{
    font-size: 15px;
}

.product-details .p-text p{
    padding-left: 5px;
}

.product-count{
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 25px;
    margin: 0px 5px;
    border: 2px solid orange;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.product-count div{
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.product-count .delete,.plus{
    cursor: pointer;
}

.count-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 230px;
    justify-content: center;
}

.delete-btn{
    display: inline;
    width: 35px;
    border-radius: 10px;
    border: none;
    background-color: orange;
}

.cart-bar{
  width: 100%;
  display: flex;
  height: 30px;
  background-color: #121429;
  align-items: center;
}

.no-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon{
    color: white;
    font-size: 25px;
    margin-left: 5px;
}

@media (max-width: 650px) {
  .body {
    display: block;
    padding: 10px;
    background-color: rgb(241, 239, 239);
  }

  .cart-container {
    width: 100%;
    background-color: black;
  }

  .cart-product {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }

  .cart-product-image {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
  }

  .product-details {
    margin: 10px;
    gap: 8px;
  }

  .product-details .title {
    font-size: 18px;
    text-align: center;
    color: rgb(255, 149, 0);
  }

  .rate-count {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }

  .product-details .price {
    font-size: 18px;
  }

  .product-details .price p {
    font-size: 14px;
  }

  .product-details .description {
    font-size: 12px;
    letter-spacing: 1px;
  }

  hr {
    width: 100%;
  }

  .product-count {
    width: 80px;
    height: 22px;
  }

  .product-count div {
    width: 26px;
    height: 20px;
  }

  .count-div {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .delete-btn {
    width: 50px;
    height: 28px;
    font-size: 14px;
  }

  .cart-title {
    height: 40px;
  }

  .cart-title p {
    padding: 12px;
    font-size: 18px;
  }
}


@media (min-width: 651px) and (max-width: 1000px) {

  .body {
    padding: 15px;
  }

  .title{
    font-size: 15px;
  }

  .cart-container {
    width: 95%;
    margin: 0 auto;
  }

  .cart-product {
    height: auto;
    padding-bottom: 15px;
  }

  .cart-product-image {
    max-width: 280px;
    width: 50%;
    height: 250px;
    object-fit: contain;
    padding: 15px;
  }

  .product-details {
    margin: 15px;
    gap: 12px;
  }

  .product-details .title {
    font-size: 22px;
    color: rgb(255, 149, 0);
  }

  .rate-count {
    gap: 15px;
  }

  .product-details .price {
    font-size: 20px;
  }

  .product-details .price p {
    font-size: 16px;
  }

  .product-details .description {
    font-size: 14px;
    letter-spacing: 1.2px;
    padding-right: 5px;
  }

  hr {
    width: 100%;
  }

  .product-count {
    width: 100px;
    height: 28px;
  }

  .product-count div {
    width: 32px;
    height: 24px;
  }

  .count-div {
    width: 220px;
    justify-content: space-between;
  }

  .delete-btn {
    width: 55px;
    height: 30px;
    font-size: 15px;
  }

  .cart-title {
    height: 45px;
  }

  .cart-title p {
    padding: 10px;
    font-size: 20px;
  }
}
