img{
    height: auto;
    width: 100%;
    flex-shrink: 0;
}

.image{
    mask-image: linear-gradient(to bottom, #000000 65%, transparent 100%);
}

.content-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(223, 218, 218);
}

.image-container{
    display: flex;
    overflow-y: hidden;
    width: 93%;
    position: relative;
}

.left,.right{
  position: absolute;
  top: 50px;
  font-size: 45px;
  color: rgb(56, 36, 2);
  width: 50px;
  height: 100px;
  z-index: 1000;
}

.right{
    right: 0px;
}

.products-div{
    display: flex;
    position: absolute;
    top: 190px;
    width: 90%;
    height: 500px;
}

.product-items{
    max-height: 500px;
    width: 100%;
    position: absolute;
}

.product-title{
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(251, 251, 251);
}

.product{
    position: relative;
    padding: 0px 5px;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.2);
}

.product-image{
    height: 180px;
    width: 200px;
}

.rating{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.product-row{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;    
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
}

.price-cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.add-cart-button{
    background-color: #ffc800;
    padding: 2px 5px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}

.previous-btn, .next-btn{
    position: absolute;
    top: 40%;
    z-index: 1000;
    height: 60px;
    width: 40px;
    outline: none;
    border: none;
} 

.add-cart-button:hover{
   background-color: #ffb700;
}

.next-btn{
    right: 0;
}

i{
    font-size: medium;
    font-weight: bold;
}

.p{
    color: #000000;
    font-weight: bold;
}

.title{
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p{
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

.product-row::-webkit-scrollbar {
    height: 7px;
    background: #f0f0f0;
  }

  .product-row::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  @media (max-width: 480px){
    .products-div{
        margin-top: -90px;
    }

    .title p{
        font-size: 10px;
    }

    .left, .right{
        font-size: 25px;
    }

    .right{
        width: 25px;
        right: 0;
    }
  }