.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29253d;
    color: white;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    p{
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .footer{
        p{
            font-size: 10px;
        }
    }
}